.exercise-row {
    border-bottom: 1px solid #ddd;
  }
  
  .exercise-row:hover {
    background-color: #f2f2f2;
  }
  
  .exercise-description {
    padding: 10px;
  }
  
  .exercise-duration,
  .exercise-check,
  .exercise-delete {
    text-align: center;
    padding: 10px;
  }
  
  .check-icon,
  .cross-icon,
  .delete-button {
    font-size: 20px;
  }
  
  .check-icon {
    color: green;
  }
  
  .cross-icon {
    color: red;
  }
  
  .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .delete-button:hover {
    color: red;
  }
  