.exercises-form-container{
    display: inline-flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 5px;
    padding: 20px;
}

.exercises-form-group{
    margin-right: 10px;
    font-size: 16px;
}

.exercises-form-control{
    font-size: 16px;
    color: black;
    border-radius: 20px;
    margin-left: 5px;
    text-align: center;
    border: 3px inset blue;
    opacity: 80%;
}

.exercises-Dateform-control{
    translate: 40px -22px 0px;
    border-radius: 20px;
    border: 3px inset blue;
}

.exercises-submit-btn{
    background-color: lightslategray;
    color: white;
    border: 2px inset transparent;
    border-radius: 20px;
    padding: 10px;
    translate: 0px -5px 0px;
}

.exercises-submit-btn:hover{
    background-color: lightseagreen;
    transform: scale(1.02);
    transition: background-color,transform;
    transition: 0.7s ease-in-out;
}