.navbar{
  display: block;
  background-color: lightskyblue;
  padding: 16px;
}

.nav-board{
  text-decoration: none;
  float: left;
  color: black;
}

.nav-profile{
  position: relative;
  display: block;
  float: right;
  font-size: 20px;
}

.nav-profile .dropdown{
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.nav-profile .dropdown .dropdown-items{
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: default;
}

.nav-profile:hover .dropdown{
  display: block;
}

.nav-profile .dropdown .dropdown-items span:hover{
  font-size: 18px;
  color: red;
  transition-property: color, font-size; 
  transition: ease-in 0.3s;
}