/* signupform.css */

.SignUp {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    border: 3px outset lightseagreen;
    border-radius: 20px;
  }
  
  .signupform-img{
    margin: auto;
    height: 50px;
    width: 50px;
  }
  
  .signupform-header{
    font-size: 18px;
    text-align: center;
    margin: 10px 0px 25px 0px;
  }
  
  .signupform-label{
    width: 350px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .signupform-group {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
    width: 500px;
  }
  
  .signupform-control{
    border: 3px outset lightseagreen;
    font-size: 16px;
    width: 100%;
    height: 25px;
    outline: none;
    border-radius: 10px;
    text-align: center;
    transition: border-color 0.4s ease-in-out;
  }
  
  .signupform-control:focus{
    border: 3px outset #007bff;
    outline: none;
  }
  
  .signupform-control-role{
    font-size: 16px;
    width: 400px;
    height: 25px;
    outline: none;
    margin-left: 10px;
    margin-right: 75px;
    border-radius: 20px;
    text-align: center;
  }
  
  .signupform-control::placeholder{
    text-align: center;
  }
  
  .signupform-submit-container {
    margin: auto;
    position: relative;
    display: inline-block; 
  }
  
  .signupform-submit-btn {
    color: white;
    position: relative;
    z-index: 1; 
    height: 50px;
    width: 75px; 
    text-align: center;
    background-color: #247BA0;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .signupform-submit-btn:hover{
    background-color: #60cfbd;
    transform: scale(1.02);
    transition-property: background-color, transform;
    transition: 0.4s ease-in-out;
  }
  